<div class="container-fluid m-2 app">
  <div class="row mb-2">
    <div class="col-md-10">Lorem Ipsum Dolor Sit Amet</div>
    <div class="col-md-2">
      <div class="row">
        <div class="col"><button class="btn btn-sm btn-danger">Lorem Ipsum</button></div>
        <div class="col"><button class="btn btn-sm btn-secondary">Lorem Ipsum</button></div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3"><app-sidebar></app-sidebar></div>
    <div class="col-md-9"><app-main></app-main></div>
  </div>
</div>


